JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/.suo
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/Browse.VC.db
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/Browse.VC.opendb
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/dde034224a6049e0/JESSEBERUBE_TEXTADVENTURE.ipch
JesseBerube_TextAdventure/Debug/JesseBerube_TextAdventure.exe
JesseBerube_TextAdventure/Debug/JesseBerube_TextAdventure.ilk
JesseBerube_TextAdventure/Debug/JesseBerube_TextAdventure.pdb
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/CommandManager.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/FileManager.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/JesseBerube_TextAdventure.Build.CppClean.log
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/JesseBerube_TextAdventure.log
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/JesseBerube_TextAdventure.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/JesseBerube_TextAdventure.vcxproj.FileListAbsolute.txt
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/LocationManager.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/PlayerManager.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/vc142.idb
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/vc142.pdb
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/JesseBer.495DA31C.tlog/CL.command.1.tlog
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/JesseBer.495DA31C.tlog/CL.read.1.tlog
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/JesseBer.495DA31C.tlog/CL.write.1.tlog
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/JesseBer.495DA31C.tlog/JesseBerube_TextAdventure.lastbuildstate
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/JesseBer.495DA31C.tlog/link.command.1.tlog
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/JesseBer.495DA31C.tlog/link.read.1.tlog
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/JesseBer.495DA31C.tlog/link.write.1.tlog
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/18cfbcd14ae1e084/FILEMANAGER.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/1e3767c4d3ba8515/COMMANDMANAGER.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/709c938853d435fa/TEXTGAME.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/a0f838cf226cb62f/LOCATIONMANAGER.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/af02f854c7a47a27/LOCATION.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/b62e4d491a50a89/TEXTGAME.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/c700c79cd614abe2/MAIN.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/ceceeeabedd28afa/PLAYER.ipch
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/json.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/Location.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/main.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/Player.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/TextGame.obj
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/36454bd73970203c/ITEM.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/5713dd6786559cbc/OBJECT.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/95696db532d782/INTERACTABLE.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/c90e9430b4eb7931/INTERACTABLE.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/fb71162fdd92f7a4/LOCATION.ipch
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/Direction.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/Interactable.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/InteractableManager.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/Item.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/JesseBer.495DA31C.tlog/unsuccessfulbuild
JesseBerube_TextAdventure/JesseBerube_TextAdventure/x64/Debug/JesseBer.495DA31C.tlog/link.read.1.tlog
JesseBerube_TextAdventure/JesseBerube_TextAdventure/x64/Debug/JesseBer.495DA31C.tlog/link.command.1.tlog
JesseBerube_TextAdventure/JesseBerube_TextAdventure/x64/Debug/JesseBer.495DA31C.tlog/JesseBerube_TextAdventure.lastbuildstate
JesseBerube_TextAdventure/JesseBerube_TextAdventure/x64/Debug/JesseBer.495DA31C.tlog/CL.write.1.tlog
JesseBerube_TextAdventure/JesseBerube_TextAdventure/x64/Debug/Interactable.obj
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/d10f9d5002498b61/MAIN.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/cababdadcddcfba7/LOCATION.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/a31e92d4617c89/TEXTGAME.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/9800ae80ccf220d6/COMMANDMANAGER.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/7776307b17697379/PLAYER.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/65491f1ae4573fff/DOOR.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/5741fe84207e5d3f/OBJECT.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/441553ecbcd18bb2/JSON.ipch
JesseBerube_TextAdventure/x64/Debug/JesseBerube_TextAdventure.ilk
JesseBerube_TextAdventure/x64/Debug/JesseBerube_TextAdventure.exe
JesseBerube_TextAdventure/JesseBerube_TextAdventure/x64/Debug/JesseBerube_TextAdventure.Build.CppClean.log
JesseBerube_TextAdventure/JesseBerube_TextAdventure/x64/Debug/JesseBer.495DA31C.tlog/link.write.1.tlog
JesseBerube_TextAdventure/JesseBerube_TextAdventure/x64/Debug/Item.obj
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/eb255de086a9fb49/INTERACTABLEMANAGER.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/e2668cc4e42f1c54/LOCATIONMANAGER.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/bf92e4595073518f/FILEMANAGER.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/7ed3965d34a566ff/ITEMMANAGER.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/7b281ae1ccf40a8c/DOOR.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/5e0b7558374dec9c/OBJECT.ipch
JesseBerube_TextAdventure/JesseBerube_TextAdventure/x64/Debug/LocationManager.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/x64/Debug/Location.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/x64/Debug/CommandManager.obj
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/fbc8821883a75fff/DIRECTION.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/74c2fc92a9e2aff2/INTERACTABLE.ipch
JesseBerube_TextAdventure/JesseBerube_TextAdventure/x64/Debug/main.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/x64/Debug/json.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/x64/Debug/Door.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/x64/Debug/Direction.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/x64/Debug/JesseBer.495DA31C.tlog/CL.read.1.tlog
JesseBerube_TextAdventure/JesseBerube_TextAdventure/x64/Debug/JesseBer.495DA31C.tlog/CL.command.1.tlog
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/a4c42d9bf9631f9c/ITEM.ipch
JesseBerube_TextAdventure/JesseBerube_TextAdventure/x64/Debug/JesseBerube_TextAdventure.vcxproj.FileListAbsolute.txt
JesseBerube_TextAdventure/JesseBerube_TextAdventure/x64/Debug/JesseBerube_TextAdventure.log
JesseBerube_TextAdventure/JesseBerube_TextAdventure/x64/Debug/FileManager.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/x64/Debug/TextGame.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/x64/Debug/Player.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/x64/Debug/vc142.pdb
JesseBerube_TextAdventure/JesseBerube_TextAdventure/x64/Debug/vc142.idb
JesseBerube_TextAdventure/JesseBerube_TextAdventure/x64/Debug/InteractableManager.obj
JesseBerube_TextAdventure/x64/Debug/JesseBerube_TextAdventure.pdb
