JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/.suo
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/Browse.VC.db
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/Browse.VC.opendb
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/dde034224a6049e0/JESSEBERUBE_TEXTADVENTURE.ipch
JesseBerube_TextAdventure/Debug/JesseBerube_TextAdventure.exe
JesseBerube_TextAdventure/Debug/JesseBerube_TextAdventure.ilk
JesseBerube_TextAdventure/Debug/JesseBerube_TextAdventure.pdb
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/CommandManager.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/FileManager.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/JesseBerube_TextAdventure.Build.CppClean.log
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/JesseBerube_TextAdventure.log
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/JesseBerube_TextAdventure.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/JesseBerube_TextAdventure.vcxproj.FileListAbsolute.txt
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/LocationManager.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/PlayerManager.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/vc142.idb
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/vc142.pdb
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/JesseBer.495DA31C.tlog/CL.command.1.tlog
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/JesseBer.495DA31C.tlog/CL.read.1.tlog
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/JesseBer.495DA31C.tlog/CL.write.1.tlog
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/JesseBer.495DA31C.tlog/JesseBerube_TextAdventure.lastbuildstate
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/JesseBer.495DA31C.tlog/link.command.1.tlog
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/JesseBer.495DA31C.tlog/link.read.1.tlog
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/JesseBer.495DA31C.tlog/link.write.1.tlog
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/18cfbcd14ae1e084/FILEMANAGER.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/1e3767c4d3ba8515/COMMANDMANAGER.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/709c938853d435fa/TEXTGAME.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/a0f838cf226cb62f/LOCATIONMANAGER.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/af02f854c7a47a27/LOCATION.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/b62e4d491a50a89/TEXTGAME.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/c700c79cd614abe2/MAIN.ipch
JesseBerube_TextAdventure/.vs/JesseBerube_TextAdventure/v16/ipch/AutoPCH/ceceeeabedd28afa/PLAYER.ipch
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/json.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/Location.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/main.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/Player.obj
JesseBerube_TextAdventure/JesseBerube_TextAdventure/Debug/TextGame.obj
